/Library/*
/.vs
/Logs
/obj
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/bud-game3d_dev.sln
/Temp
*.sln
*.csproj
ProjectSettings
.vscode
Assets/Wwise/API
Assets/Wwise/Editor/ProjectData/AkWwiseProjectData.asset
Assets/Wwise/LauncherInfo.json
Assets/WwiseSettings.xml
Assets/WwiseSettings.xml.meta
.idea
Assets/StreamingAssets/build_info
Assets/StreamingAssets/build_info.meta
/Assets/Debugger.log
/Assets/Debugger.log.meta
/Assets/Wwise/LauncherInfo.json.meta
Assets/StreamingAssets/assetbundle/*
Assets/StreamingAssets/assetbundle.meta
!/Library
!/Library/AssetBundleBrowserBuild.dat
Assets/StreamingAssets/StreamingAssets*
Assets/Res/Animation/LocalAnimatoinClip.asset
Assets/VRMShaders.meta
Assets/UniGLTF
Assets/VRM
Assets/VRMShaders
Assets/VRM.meta
Assets/UniGLTF.meta
Assets/StreamingAssets/Temp
Assets/StreamingAssets/Temp.meta
Assets/StreamingAssets/Temp
!Assets/StreamingAssets/assetbundle/emoji
!Assets/StreamingAssets/assetbundle/emoji.meta
Assets/Res/Bundle/dungeon
Assets/Res/Bundle/Downtown/dungeon/.svn
Assets/Res/Bundle/Downtown/dungeon
Assets/Res/Bundle/Downtown/plante
Assets/Res/Bundle/Downtown/plante.meta
/Assets/Resources/Configs/dev.json
/Assets/Resources/Configs/dev.json.meta
/Bundles/iOS/High/updateinfo.json
/Bundles/iOS/Low/updateinfo.json
/BundlesCache/iOS/High/High.manifest
/BundlesCache/iOS/High/High
/BundlesCache/iOS/Low/Low
/BundlesCache/iOS/Low/Low.manifest
/BundlesCache/Android/Low/Low
/BundlesCache/Android/Low/Low.manifest
/BundlesCache/Android/High/High
/BundlesCache/Android/High/High.manifest
/Bundles/Android/High/updateinfo.json
/Bundles/Android/Low/updateinfo.json
Assets/AmplifyShaderEditor.meta
Assets/AmplifyShaderEditor
